@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap");
@import url(j:\7 Континетво\css\vendor\reset.css);
body {
  margin: 0;
  padding: 0;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

.header_bg {
  background-image: url("/img/header_bg.png");
  background-position: center;
  background-size: cover;
}

.header_nav {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  display: flex;
  align-items: center;
}

.logo_discription {
  padding-left: 29px;
  padding-right: 29px;
  font-family: Montserrat;
  font-size: 15px;
}

.tel {
  display: flex;
  align-items: center;
}

.header_tel {
  margin-right: 15px;
}

.tel_des {
  margin: 0px;
  display: flex;
  align-items: flex-end;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 11px;
}

.tel_num {
  margin: 0px;
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 15px;
}

.header_button {
  padding: 16px 16px 16px 16px;
  background-color: #ffaf02;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 11px;
}

.header_text {
  margin-left: 17em;
  padding-top: 110px;
}

.header_text_main {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 57px;
}

.header_text_des {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 25px;
}

.description {
  display: block;
  padding-bottom: 46px;
  justify-content: center;
}

.header_img_text {
  display: flex;
  margin-left: 14em;
  padding-top: 35px;
}

.header_img {
  padding-right: 29px;
}

.texet-1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
}

.texet-2 {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
}

.recall_text_des {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 30px;
  padding-top: 25px;
}

.recall {
  background: url("/img/bg2.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 580px;
  margin: 0 auto;
}

.bgrecall {
  text-align: center;
}

.recall_text_des {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 30px;
  padding-top: 60px;
}

.line {
  padding-top: 55px;
  padding-bottom: 55px;
}

.form-group {
  text-align: center;
  padding-top: 40px;
}

input[type="text"] {
  width: 220px;
  height: 44px;
  margin-left: 30px;
  border: 1px;
  border-left: 10px;
  border-radius: 50px;
  padding-left: 20px;
  font-size: 15px;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.21);
}

.form_button {
  padding: 18px 35px 18px 35px;
  margin-left: 30px;
  background-color: #ffaf02;
  color: #ffffff;
  border: none;
  border-radius: 28px;
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 15px;
}
